{% extends 'base.html' %}

{% block title %}BASIC ETHICAL HACKING TERMS{% endblock title %}

{% block head %}
<meta name = "keywords" content="ethical hacking, hacking, cyber security, security, terms of cyber, terms of ethical hacking, terms of hacking , basic terms, cyber crime.">
<meta name="description" content="Basic terms related to hacking industry.">
<link rel="canonical" href="http://jrathi.pythonanywhere.com/blogs/basic-ethical-hacking-terms">
{% endblock head %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/basic_ethical_hacking_terms.css')}}">
{% endblock style%}

{% block body %}
<div class="blog_title blog_width">
    <h1>BASIC ETHICAL HACKING TERMS</h1>
</div>

<div class="blog_information blog_width">
    <div class="blog_writer">
        <img src="https://avatars.githubusercontent.com/u/65055605?v=4" alt="Jayesh Rathi Profile Photo">
        <p><a href="/">Jayesh Rathi</a></p>
    </div>
    <div class="blog_date">
        <p>Published: April 12, 2023</p>
    </div>
</div>

<section class="blog_width">
    <h2>COMMONLY USED TERMS IN ETHICAL HACKING</h2>
    <div>
    <ul>
        <li>
            <b><i>Attack - </i></b>
            Action with malicious intension.
        </li>
        <li>
            <b><i>Authentication - </i></b>
            It is the process of identifying the person or system with username and password.
        </li>
        <li>
            <b><i>Backdoor - </i></b>
            Trapdoor, used to gain unauthorized access to computer or network.
        </li>
        <li>
            <b><i>Buffer - </i></b>
            Temporarily data storage. while data is placed to one place to another.
        </li>
        <li>
            <b><i>Cipher - </i></b>
            It is a process to cover the data into code or encrypt algorithm technique.
        </li>
        <li>
            <b><i>Cryptography - </i></b>
            It is the science and art of protecting the privacy of the information by encrypting into a secret code.
        </li>
        <li>
            <b><i>Exploit - </i></b>
            To take an advantage of the weakness of a system.
        </li>
        <li>
            <b><i>Hash value - </i></b>
            It is a result of applying cryptographic hash function to data.
        </li>
        <li>
            <b><i>Malware - </i></b>
            Malicious software. It is used to damage computer system or network and steal the data from that infected system.
        </li>
        <li>
            <b><i>Threat - </i></b>
            It is a possible danger that might exploit a vulnerability to violate security protocol.
        </li>
        <li>
            <b><i>Computer Security - </i></b>
            To protect the computer system and the data which is stored in the system.
        </li>
        <li>
            <b><i>cyber security - </i></b>
            It is a process of protecting data, system and networks agaisnt cyber attacks.
        </li>
        <li>
            <b><i>Information/Data security - </i></b>
            It is a process to protect information and information system from threats through security control to reach C.I.A.
        </li>
        <li>
            <b><i>Cyber forensics - </i></b>
            Extracting data as a proof for crime. Recovery process of deleted files.
        </li>
        <li>
            <b><i>Vulnerablility - </i></b>
            The potential to harm or loss.
        </li>
        <li>
            <b><i>Exposure - </i></b>
            Risk property exit.
        </li>
        <li>
            <b><i>Resistance - </i></b>
            Action taken to prevent.
        </li>
        <li>
            <b><i>Resilience - </i></b>
            Ability to recover root state.
        </li>
        <li>
            <b><i>Confidentiality - </i></b>
            Limits access to information or restrictions on information access.
        </li>
        <li>
            <b><i>Integrity - </i></b>
            Assurance that the information is accurate.
        </li>
        <li>
            <b><i>Availability - </i></b>
            Definite and reliable access by authorized people.
        </li>
        <li>
            <b><i>cryptanalysis - </i></b>
            Studying cryptographic system to find weakness of the cryptographic algorithm and decipher the cipher text without knowing security key.
        </li>
        <li>
            <b><i>Authorization - </i></b>
            It is the process to enforcing polices to determine what type of services can be use by user.
        </li>
        <li>
            <b><i>Accounting - </i></b>
            It manages user consumed resources during access. It includes amount of data user used and sent login session time.
        </li>
        <li>
            <b><i>Bug - </i></b>
            It is also called as an error.
        </li>
        <li>
            <b><i>Loophole - </i></b>
            Programing gap through which exploit can be access.
        </li>
        <li>
            <b><i>Key - </i></b>
            It is used to decode encoding things. Also called as authorized identity.
        </li>
        <li>
            <b><i>Public key - </i></b>
            It is used to encryt the data.
        </li>
        <li>
            <b><i>Protocol - </i></b>
            Set of rules or guidelines for communicating in the internet.
        </li>
        <li>
            <b><i>Protocol Suit - </i></b>
            Also called as TCP/IP suit. Network protocol suit for communicating over TCP.
        </li>
        <li>
            <b><i>hash function - </i></b>
            Used to convert plain text into cipher text.
        </li>
    </ul>
</div>
</section>
{% endblock body %}

{% block script %}
<script type="application/ld+json">
    {
        "@context": "Basic and required terms used in ethical hacking.",
        "@type": "Blog",
        "@name": "Basic terms of ethical hacking",
        "@author": "Jayesh Rathi",
        "@datePublished": "2023-04-12",
        "@image": "spring_initializer.png, https://avatars.githubusercontent.com/u/65055605?v=4",
        "@description": "Basic terms related to hacking industry."
    }
</script>
{% endblock script %}